SERVER_PORT=8081
# dev or prod
APP_MODE=dev

# DB Settings
DB_HOST=localhost
DB_BASE=base
DB_USER=user
DB_PASS=pass

# Mail settings
MAIL_HOST=192.168.0.0
MAIL_PORT=25
MAIL_USER=camera
MAIL_PASS=mail_pass
MAIL_FROM_ADDRESS="user@domain.ld"
MAIL_FROM_NAME="My Mailer"

FRONT_MAIN_URL=front.domain.ld
FRONT_CONFIRM_URL=confirm
FRONT_RTMP_ADDRESS=rtmp.domain.ld
FRONT_DEVICE_LOGPATH=pat_to_logs/deviceLogs/
HASH_SECRET=SuperSecretPhase